<footer class="ud-footer" data-purpose="footer">
    <div class="footer-section footer-section-main">
        <div class="links-and-language-selector">
            <!-- <div class="language-selector-container">
                <button type="button" class="">
                    <svg aria-hidden="true" focusable="false" class="ud-icon ud-icon-small ud-icon-color-neutral"><use xlink:href="#icon-language"></use></svg>
                    <span>Tiếng Việt</span></button>
            </div> -->
            
            <img src="/img/f9.png" class="nav-logo-icon">
            <ul class="ulfooter">
                <li>
                    <a href="#" class="" target="_blank" rel="noopener">F9 Business</a>
                </li>
                <li>
                    <a class="#" href="">Giảng dạy trên F9</a>
                </li>
                <li>
                    <a class="" href="#" target="_blank" rel="noopener noreferrer">Tải ứng dụng</a>
                </li>
                <li>
                    <a class="" href="#">Giới thiệu</a>
                </li>
                <li>
                    <a class="" href="#">Hãy liên hệ với chúng tôi</a>
                </li>
            </ul>
            <ul class="ulfooter">
                <li>
                    <a class="" href="#">Nghề nghiệp</a>
                </li>
                <li>
                    <a class="" href="#">Blog</a>
                </li>
                <li>
                    <a class="" href="#">Trợ giúp và Hỗ trợ</a>
                </li>
                <li>
                    <a class="" href="#">Đơn vị liên kết</a>
                </li>
                <li>\
                    <a class="" href="#">Nhà đầu tư</a>
                </li>
            </ul>
            <ul class="ulfooter">
                <li>
                    <a class="" href="/dieukhoan">Điều khoản</a>
                </li>
                <li>
                    <a class="" href="#">Chính sách về quyền riêng tư</a>
                </li>
                <li>
                    <button type="button" class="btn-settingCookie" data-purpose="footer.links.cookie_preferences" fdprocessedid="7wh7d">
                        <span>Cài đặt cookie</span>
                    </button>
                </li>
                <li>
                    <a class="" href="/vi/sitemap/">Sơ đồ trang web</a>
                </li>
                <li>
                    <a class="" href="#">Tuyến bố về khả năng tiếp cận</a>
                </li>
            </ul>
        </div>
        <div class="footerend">
            <div class="copyright-container ud-text-xs">© 2023 F9_UNIVERSITY, Inc.</div>
        </div>
    </div>
</footer>