<style>
        .button-13 {
        background-color: #fff;
        border: 1px solid #d5d9d9;
        border-radius: 15px;
        box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
        box-sizing: border-box;
        color: #0f1111;
        cursor: pointer;
        display: inline-block;
        font-family: "Amazon Ember",sans-serif;
        font-size: 13px;
        line-height: 29px;
        padding: 0 10px 0 11px;
        position: relative;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: middle;
        width: 50px;
        height: 50px;
        }

        .button-13:hover {
        background-color: #f7fafa;
        }

        .button-13:focus {
        border-color: #008296;
        box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
        outline: 0;
        }
</style>
<nav id="nav" th:unless="${#authorization.expression('isAuthenticated()')}" th:fragment="non-login-header" class="navbar navbar-expand-md nav-bg-white py-2 position-sticky" style="top:0;left:0; height: 75px;">
    <div class="container justify-content-start">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand mx-md-0 mx-3" href="/">
            <div class="d-flex align-items-center">
                <img th:src="@{/img/f9.png}" class="nav-logo-icon">
                <p class="nav-logo-text">Khóa học trực tuyến</p>
            </div>
        </a>
        <div class="input-group ms-md-auto d-flex form-search position-relative">
            
                <form action="/search" method="get" style="display: flex; flex-direction: row;">
                    <input id="input-search-box" name="searchText" class="form-control me-2 form-search-input" type="text" placeholder="Tìm kiếm khóa học ..." aria-label="Search" style="height: 50px; width: 400px; border-radius: 25px;">
                    
                    <button class="button-13" type="submit">
                        <i class="bi bi-search" style="font-size: 25px;"></i>
                    </button>
                </form>
                
        </div>
        <!-- <select name="theloai" id="theloai" class="theloai">
            <option value="0">Thể loại</option>
            <option value="1">Công nghệ thông tin</option>
            <option value="2">Ngôn ngữ anh</option>
            <option value="3">Điện tử viễn thông</option>
            <option value="4">Toán ứng dụng</option>
        </select> -->
        <a href="/dkyGiangVien" class="teaching">
            <span class="title-teaching">Giảng dạy trên F9</span>
            <div class="">
                <span></span>
            </div>
        </a>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <div class="CART">
                <i class="bi bi-cart3 cartCss"></i>
                <div class="form-cart">
                    <h6>Giỏ hàng của bạn đang trống</h6>
                    <a href="/">Tiếp tục mua sắm</a>
                </div>
            </div>
            <div class="ms-md-auto login-group">
                <a class="btn btn-login nav-btn-text" href="/login"> Đăng nhập </a>
                <a class="btn btn-signup nav-btn-text" href="/signup"> Đăng kí </a>
            </div>
        </div>
    </div>
</nav>

<nav id="nav" th:if="${#authorization.expression('isAuthenticated()')}" th:fragment="logined-header" class="navbar navbar-expand-md nav-bg-white py-2 position-sticky bg-white" style="top:0;left:0; height: 75px;">
    <div class="container justify-content-start">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <th:block sec:authorize="hasAuthority('ROLE_STUDENT')">
            <a class="navbar-brand mx-md-0 mx-3" href="/student">
                <div class="d-flex align-items-center">
                    <img th:src="@{/img/f9.png}" class="nav-logo-icon">
                    <p class="nav-logo-text">Khóa học trực tuyến</p>
                    
                </div>
            </a>
           
        </th:block>

        <th:block sec:authorize="hasAnyAuthority('ROLE_TEACHER')">
        <a class="navbar-brand mx-md-0 mx-3" href="/teacher">
            <div class="d-flex align-items-center">
                <img th:src="@{/img/f9.png}" class="nav-logo-icon">
                <p class="nav-logo-text">Khóa học trực tuyến</p>
            </div>
        </a>
        </th:block>
        <th:block sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
        <a class="navbar-brand mx-md-0 mx-3" href="/admin">
            <div class="d-flex align-items-center">
                <img th:src="@{/img/f9.png}" class="nav-logo-icon">
                <p class="nav-logo-text">Khóa học trực tuyến</p>
            </div>
        </a>
        </th:block>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <th:block sec:authorize="hasAuthority('ROLE_STUDENT')">
            <div class="input-group ms-md-auto d-flex form-search position-relative">
                    <form action="/search" method="get" style="display: flex; flex-direction: row;">
                        <input id="input-search-box" name="searchText" class="form-control me-2 form-search-input" type="text" placeholder="Tìm kiếm khóa học ..." aria-label="Search" style="height: 50px; width: 400px; border-radius: 25px;">
                        
                        <button class="button-13" type="submit">
                            <i class="bi bi-search" style="font-size: 25px;"></i>
                        </button>
                    </form>
                    
            </div>
            </th:block>
            <th:block sec:authorize="hasAnyAuthority('ROLE_TEACHER')">
                <div class="input-group ms-md-auto d-flex form-search position-relative">
            
                    <form action="/search" method="get" style="display: flex; flex-direction: row;">
                        <input id="input-search-box" name="searchText" class="form-control me-2 form-search-input" type="text" placeholder="Tìm kiếm khóa học ..." aria-label="Search" style="height: 50px; width: 400px; border-radius: 25px;">
                        
                        <button class="button-13" type="submit">
                            <i class="bi bi-search" style="font-size: 25px;"></i>
                        </button>
                    </form>
                    
                </div>
            </th:block>
            <div class="ms-md-auto login-group">
                <div class="btn-group d-flex align-items-center">
                    <!-- khi da dang nhap -->
                    <div class="notify" sec:authorize="hasAuthority('ROLE_ADMIN')">
                        <i class="bi bi-bell-fill notify-icon" style="color: black; font-size: 20px; position: relative;;">
                            <div style="background-color: red; width: 20px; height: 20px; border-radius: 10px; display: flex; justify-content: center; position: absolute; top: -10px; right: -5px;">
                                <span style="font-size: 15px; color: white; font-weight: 500; margin-top: 0; padding: 0;">1</span>
                            </div>
                        </i>
                        <th:block th:if="${#lists.isEmpty(listNotify)}">
                            <div class="notify-list">
                                <span style="color: black; font-size: 16px;">Không có thông báo</span>
                            </div>
                        </th:block>
                        <th:block th:if="${not #lists.isEmpty(listNotify)}" >
                            <div class="notify-list">
                                <div style="margin: 10px;">
                                    <h4 style="color: black; margin: 0 0 10px 0; line-height: 35px; border-bottom: 2px solid rgb(137, 135, 135);">Thông báo.</h4>
                                    <div class="notify-item" th:each="notify : ${listNotify}" style="margin-bottom: 10px;">
                                        <h5 th:text="${notify.notiTitle}" style="color: black;"></h5>
                                        <h6 th:text="${notify.notiContent}" style="color: rgb(63, 62, 62); margin: 0 0 2px 10px;"></h6>
                                        <span th:text="${notify.createdAt}" style="color: rgb(66, 65, 65); font-size: 14px;  margin: 0 0 2px 10px;"></span>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                        
                    </div>
                    <th:block sec:authorize="hasAuthority('ROLE_STUDENT')">
                        <div class="CART1">
                            <i class="bi bi-cart3 cartCss"></i>
                            <th:block th:if="${not #lists.isEmpty(listCourseInCart)}" >
                                <div class="form-cart1">
                                
                                        <div class="cartItem" th:each="course : ${listCourseInCart}">
                                            <a th:href="@{/detail1111/{id}(id=${course.courseID})}">
                                                <img th:src="${course.courseAvt}" class="img-cartItem">
                                                <div>
                                                    <span th:text="${course.courseName}" class="text-cartItem" style="width: 145px; display: block;"></span>
                                                    <span th:text="${course.courseOwner.fullName}" style="color: black;"></span>
                                                    <h6 th:text="${course.gia + ' ₫'}" style="color: black;"></h6>
                                                </div>
                                            </a>
                                            <button id="btnDeleteCartItem" th:attr="onclick=|deleteCartItem('${course.courseID}')|">Xóa</button>
                                        </div>
                                    <h6 id="tongCart" th:text="${'Tổng: ₫ '+ tongCart}" style="color: black; font-size: 20px;"></h6>
                                    <a th:href="@{/checkout}"><button id="btnThanhToan">Chuyển đến giỏ hàng</button></a>
                                </div>
                            </th:block>
                            <th:block th:if="${#lists.isEmpty(listCourseInCart)}">
                                    <div class="form-cart1">
                                        <h6 style="color: black; font-size: 14px; margin: 50px 0 0 50px;">Giỏ hàng của bạn đang trống</h6>
                                        <a href="/student" style="margin:20px 0 0 80px;">Tiếp tục mua sắm</a>
                                    </div>
                            </th:block>
                        </div>
                    </th:block>

                    <button type="button" class="btn btn-danger dropdown-toggle header-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        <th:block th:if="${user == null}">
                            <img src="https://img.freepik.com/free-icon/user_318-159711.jpg" style="width: 25px; height: 25px">
                        </th:block>
                        <th:block th:if="${user != null}">
                            <img th:src="${user.avatar}" style="width: 25px; height: 25px; border-radius: 14px;">
                        </th:block>
                        <div class="header-username text-dark mx-2" sec:authentication="name"></div>
                        
                    </button>
                    
                    <form action="/logout" method="post">
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item text-small" href="/account_info">Thông tin tài khoản</a></li>
                            <li><button class="dropdown-item text-small" type="submit">Đăng xuất</button></li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>

