 <div th:fragment="left-menu" class="left-menu">
     <th:block sec:authorize="hasAnyAuthority('ROLE_TEACHER')">
         <a href="/teacher/createCourse" class="d-flex align-items-center justify-content-center mb-3" data-bs-toggle="tooltip" data-bs-title="Bắt đầu tạo khóa học mới">
        <span class="bg-primary rounded-circle d-flex justify-content-center align-items-center text-white"
              style="width: 40px;height: 40px">
            <i class="bi bi-plus d-flex justify-content-center align-items-center" style="font-size: 20px; width: 20px; height: 20px;"></i>
        </span>
         </a>
        <a href="/teacher" class="left-menu-item">
            <i class="bi bi-house-fill" style="font-size: 20px"></i>
            <div>Home</div>
        </a>
        <a href="/thongke" class="left-menu-item">
            <i class="bi bi-chat-fill" style="font-size: 20px"></i>
            <div>Thống kê</div>
        </a>
        <a href="/teacher/hoadon" class="left-menu-item">
            <i class="bi bi-list-task" style="font-size: 20px"></i>
            <div>Bill từ admin</div>
        </a>
        <form action="/thongke" method="get">
            <input type="hidden" name="teacherid" th:value="${user.userId}">
            <button class="button-13" type="submit">Thống kê</button>
        </form>

     </th:block>

     <th:block sec:authorize="hasAuthority('ROLE_STUDENT')">
         <a href="/" class="left-menu-item">
             <i class="bi bi-house-fill" style="font-size: 20px"></i>
             <div>Home</div>
         </a>
         <a href="/discuss" class="left-menu-item">
             <i class="bi bi-chat-fill" style="font-size: 20px"></i>
             <div>Thảo luận</div>
         </a>
         <a href="/" class="left-menu-item">
             <i class="bi bi-list-task" style="font-size: 20px"></i>
             <div>Bài tập</div>
         </a>
     </th:block>
 </div>


