<head>
  <script>
function toggleOptions() {
    var options = document.getElementById("options");
    if (options.style.display === "none") {
        options.style.display = "block";
    } else {
        options.style.display = "none";
    }
}
  </script>
</head>
<div class="slide-nav">
  <ul class="nav-links">
    <li>
      <a href="#"><i class="bi bi-house-door"></i> Trang chủ</a>
    </li>
    <li>
      <a href="/admin/course"><i class="bi bi-book"></i> Khóa học</a>
    </li>
    <li>
      <a href="/admin/chapter"><i class="bi bi-collection-play-fill"></i> Chương học</a>
    </li>
<!--    <li>-->
<!--      <a href="/admin/discuss"><i class="bi bi-chat"></i> Thảo luận</a>-->
<!--    </li>-->
<!--    <li>-->
<!--      <a href="/admin/document"><i class="bi bi-file-earmark"></i>Tài liệu học tập</a>-->
<!--    </li>-->
    <li>
      <a href="/admin/assignment"><i class="bi bi-list-task"></i> Bài tập</a>
    </li>
      <li>
          <a href="#"  onclick="toggleOptions()">Thống kê</a>
          <ul id="options" style="display: none; color: white">
              <a href="/admin/thongketongquat"><li>Thống kê tổng quát</li></a>
              <a  href="/admin/thongketop5"><li>Thống kê Top 5 Khách hàng</li></a>
              <a  href="/admin/thongkengay"><li>Thống kê doanh thu từ ngày đến ngày</li></a>
          </ul>
      </li>
      <li>
        <a href="/admin/qluser"><i class="bi bi-list-task"></i> Quản lý User</a>
      </li>
      <li>
        <a href="/admin/courseChoDuyet"><i class="bi bi-list-task"></i>Khóa học chờ duyệt</a>
      </li>

</div>