<!DOCTYPE html>
<html>
    <head>
        <title>Trang quản lý - F8</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
        <script src="https://kit.fontawesome.com/69331f932b.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
        <link rel="stylesheet" th:href="@{/css/admin.css}">
        <link rel="stylesheet" th:href="@{/css/header.css}">
        <style>
            .button-13 {
        background-color: #fff;
        border: 1px solid #d5d9d9;
        border-radius: 8px;
        box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
        box-sizing: border-box;
        color: #0f1111;
        cursor: pointer;
        display: inline-block;
        font-family: "Amazon Ember",sans-serif;
        font-size: 13px;
        line-height: 29px;
        padding: 0 10px 0 11px;
        position: relative;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: middle;
        width: 100px;
        }

        .button-13:hover {
        background-color: #f7fafa;
        }

        .button-13:focus {
        border-color: #008296;
        box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
        outline: 0;
        }
            table {
                border-collapse: collapse;
                width: 100%;
            }
    
            th, td {
                border: 1px solid #ccc;
                padding: 8px;
            }
    
            th {
                background-color: #f2f2f2;
                position: relative;
                cursor: pointer;
            }
            img{
            width: 100px;
            height: 100px;
            }
            .date-picker {
            display: flex;
        }

        .date-picker input {
            margin-right: 10px;
        }

        .date-picker button {
            padding: 5px 10px;
        }
        
        </style>
        <script>
            function chiTraChoGV(idChiTra){
                window.location.href = `http://localhost:8081/admin/chiTraGV/${idChiTra}`;
            }

            function inHoaDon(idHD) {
                window.location.href = `http://localhost:8081/hoadon/excel/${idHD}`;
            }

            function xuatTatCa() {
                var arr = document.querySelectorAll(".hdID");
                const selectedItems = [];

                arr.forEach(function(checkbox) {
                    selectedItems.push(checkbox.value);
                    console.log(checkbox.value);
                });

                $.ajax({
                    url: '/saveDSHD',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(selectedItems),
                    success: function(response) {
                        // handle success response
                        window.location.href = `http://localhost:8081/users/export/excel`;
                        // Swal.fire({
                        //     icon: 'success',
                        //     title: 'Đã xuất thành công!',
                        //     showConfirmButton: false,
                        //     timer: 1500
                        // })
                    },
                    error: function(xhr, status, error) {
                        Swal.fire('Có lỗi khi xuất!', '', 'error');
                    }
                });
            }

            function duyetCourse(courseId){
                $.ajax({
                    url: `/admin/duyetCourse/${courseId}`,
                    type: 'GET',
                    success: function(response) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Khóa học đã được duyệt',
                            showConfirmButton: false,
                            timer: 1500
                        })
                        setTimeout(function(){
                            window.location.href = 'http://localhost:8081/admin/courseChoDuyet';
                        },2000);
                    },
                    error: function(xhr, status, error) {
                        Swal.fire('Có lỗi khi duyệt!', '', 'warning');
                    }
                });
            }
            
        </script>
    </head>
    <body>
        <div th:replace="~{fragments/header :: logined-header}"></div>
        <div class="main bg-light">
            <div th:replace="~{fragments/navbar_admin}"></div>
            
            <div class="content">
                <div class="course-wrapper px-5 py-4" th:if="${flag==4}">
                    <h1 class="title">Quản lý người dùng </h1>
                    <table id="course-table">
                           <thead >
                               <tr>
                                    <th>User id</th>
                                   <th>User Name</th>
                                   <th>Email</th>
                                   <th>Modify Date</th>
                                   <th>Describe</th>
                                   <th>Action</th>
                                   
                               </tr>
                           </thead>
                           <tbody>
                               <tr th:each="User : ${users}">
                                   <td th:text="${User.userId}"></td>
                                   <td th:text="${User.fullName}"></td>
                                   <td th:text="${User.email}"></td>
                                   <td th:text="${User.modifiedDate}"></td>
                                   <div th:if="${User.mota!=NULL}">
                                        <td th:text="${User.mota}"></td>
                                   </div>
                                   <div th:if="${User.mota==NULL}">
                                        <td>  Không có mô tả</td>
                                    </div>
                                  
                                   <td><a th:href="@{/account_infofix(userId=${User.userId})}">Sửa thông tin</a>/
                                    <a th:href="@{/account_delete(userId=${User.userId})}">Xóa account</a></td>
                                    
                               </tr>
                           </tbody>
                   </table>
           </div>
                <div class="course-wrapper px-5 py-4" th:if="${flag==3}">
                    <form action="/admin/thongkengay" method="get">
                        <div class="date-picker">
                            <input type="date" name="startDate" required>
                            <input type="date" name="endDate" required>
                            <button class="button-13" type="submit">Lọc</button>
                        </div>
                    </form>
                    <div th:if="${courses.size()==0}">
                        <h3>NO VALUE FOUND</h3>
                    </div>
                    <h1 class="title">Tổng doanh thu: <span th:text="${tongdoanhthu}"></span>VNĐ</h1>
                    <table id="course-table">
                        <thead>
                            <tr>
                                <th>IMG</th>
                                <th>Course Name</th>
                                <th >Course Revenue(VNĐ)</th>
                                <th >Course Buytime</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="course : ${courses}">
                                <td><img th:src="${course.avatar}"></td>
                                <td th:text="${course.courseName}"></td>
                                <td th:text="${course.courseRevenue}"></td>
                                <td th:text="${course.courseBuyCount}"></td>
                               
                            </tr>
                        </tbody>
                    </table>
                       
                    
            
                </div>
                <div class="course-wrapper px-5 py-4" th:if="${flag==2}">
                    <h3>Top 5 khách hàng mua nhiều khóa học nhất.</h3>
                     <table id="course-table">
                            <thead >
                                <tr>
                                    <th>User Name</th>
                                    <th>Buy time</th>
                                    <th>Spend</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="User : ${userstatistic}">
                                    <td th:text="${User.fullName}"></td>
                                    <td th:text="${User.haveBuy}"></td>
                                    <td th:text="${User.spend}"></td>
                                    <td><a th:href="@{/admin/chitiettop5(userId=${User.userId})}">Thông tin chi tiết</a></td>
                                </tr>
                            </tbody>
                    </table>
                </div>
                <div class="course-wrapper px-5 py-4" th:if="${flag==1999}">
                    <img th:src="${user.avatar}"></td><br>
                    Tên User: <h5 th:text="${user.fullName}"></h5><br>
                    Email <h5 th:text="${user.email}"></h5><br>
                    <div th:if="${user.mota!=NULL}">
                    Mô tả course: <h5 th:text="${user.mota}"></h5><br>
                    </div>
                    <div th:if="${user.mota==NULL}">
                        Mô tả course: <h5> Không có mô tả</h5><br>
                    </div>
                    ngày tạo: <h5 th:text="${user.createdDate}"></h5><br>
                    Số course đã mua: <h5 th:text="${enrollments.size()}"></h5><br>
                    <table id="course-table">
                        <thead >
                            <tr>
                                <th>Tên Course</th>
                                <th>Ngày mua</th>
                                <th>Giá course</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="enroll : ${enrollments}">
                                <td th:text="${enroll.getCourse().getCourseName()}"></td>
                                <td th:text="${enroll.getDateJoined()}"></td>
                                <td th:text="${enroll.getCourse().getGia()}"></td>
                                <td> <a th:href="@{/admin/chitietcourse(courseId=${enroll.getCourse().getCourseID()})}">Thông tin chi tiết</a></td>
                            </tr>
                        </tbody>
                </table>
                
                <button class="button-13" onclick="javascript:history.back()"> Quay về</button>
                </div>

                <div class="course-wrapper px-5 py-4" th:if="${flag==1}">
                        <h3>Tổng doanh thu(VNĐ): <span th:text="${sum}"></span></h3>
                        <h3>Số lượng học viên: <span th:text="${hocviennumber}"></span></h3>
                        <h3>Số lượng giảng viên: <span th:text="${giangviennumber}"></span></h3>
                        <h2>Top 10 khóa học có doanh thu cao nhất</h2>
                         <table id="course-table">
                                <thead >
                                    <tr>
                                        <th>Course Name</th>
                                        <th>Course Revenue(VNĐ)</th>
                                        <th>Course Buytime</th>
                                        <th>System revenue(VNĐ)</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="course : ${coursetop10}">
                                        <td th:text="${course.courseName}"></td>
                                        <td th:text="${course.revenue}"></td>
                                        <td th:text="${course.buyCount}"></td>
                                        <td th:text="${course.systemRevenue}"></td>  
                                        <td><a th:href="@{/admin/chitietcourse(courseId=${course.courseID})}">Thông tin chi tiết</a></td>
                                    </tr>
                                </tbody>
                        </table>
                </div>

                <div class="course-wrapper px-5 py-4" th:if="${flag==5}">
                    <div th:if="${#lists.isEmpty(courses)}" class="course-empty py-4 d-flex justify-content-center align-items-center flex-column">
                        <img class="img-fluid" th:src="@{/img/empty.svg}" style="max-width: 480px; width:100%">
                        <div class="mt-4">Không có khóa học chờ duyệt nào</div>
                    </div>
                    <div th:if="${not #lists.isEmpty(courses)}" class="course-list d-flex flex-wrap">
                        <th:block th:each="course : ${courses}">
                            <div class="course-item position-relative">
                                <div class="dropdown position-absolute" style="top: 10px; right: 10px">
                                    <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-three-dots-vertical"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#" th:attr="onclick=|openEditCourseModal('${course.courseID}')|">Sửa</a></li>
                                        <li><a class="dropdown-item" href="#" th:attr="onclick=|removeCourse('${course.courseID}')|">Xóa</a></li>
                                    </ul>
                                </div>
                                
                                <div>
                                    <a th:href="@{/admin/courseChoDuyetDetail/{id}(id=${course.courseID})}">
                                        <img th:src="${course.courseAvt}" class="img-fluid">
                                        <h6 class="mt-3 text-dark" th:text="${course.courseName}"></h6>
                                        <p class="text-small m-0 text-muted" th:text="${course.department.departmentName}"></p>
                                    </a>
                                </div>
                            </div>
                            
                        </th:block>
                    </div>
                </div>
                <div class="course-wrapper px-5 py-4" th:if="${flag==6}">
                    <div class="w-100 d-flex mx-auto mt-4">
                        <div class="container_center ms-5">
                            <h4 class="mt-2 nameCourse" th:text="${course.courseName}"></h4>
                            <h6 class="mt-3">Mô tả khóa học khóa học</h6>
                            <span th:text="${course.courseDes}"></span>
                            <h5 class="mt-4">Nội dung khóa học</h5>
                            <div class="course_list_video" style="display: flex; gap: 10px; flex-direction: column;">
                                <div class="card" th:each="lesson : ${lessons}">
                                    <th:block th:if="${lesson.xemTruoc} == 1">
                                        <span>
                                            <i class="bi bi-play-fill"></i>
                                            <span th:text="${lesson.lessonTitle}"></span>
                                            <button style="border: none; background-color: white; color: blue;" id="btnShowXemTruoc" th:attr="onclick=|showXemTruoc('${lesson.getLessonVideo()}')|">Xem trước</button>
                                        </span>
                                    </th:block>
                
                                    <th:block th:if="${lesson.xemTruoc} != 1">
                                        <span>
                                            <i class="bi bi-play-fill"></i>
                                            <span th:text="${lesson.lessonTitle}"></span>
                                        </span>
                                    </th:block>
                                </div>
                            </div>
                            <h5 class="mt-4">Tài liệu tham khảo</h5>
                        </div>
                        <div class="container_right mt-4">
                            <div class="container_right_video">
                                <img class="img-fluid" th:src="${course.courseAvt}" alt="" style="aspect-ratio: 16/9; border-radius: 10px; width: 100%">
                            </div>
                            <div class="course_information">
                                <div>
                                    Giảng viên: <span th:text="${course.courseOwner.fullName}"></span>
                                </div>
                                <div>
                                    Khoa: <span th:text="${course.department.departmentName}"></span>
                                </div>
                                <div>
                                    Tổng số: <span class="total" th:text="${#lists.size(lessons)}"></span> bài học
                                </div>
                                <div>
                                    Tài liệu tham khảo: 0 tài liệu
                                </div>
                                <button th:attr="onclick=|duyetCourse('${course.courseID}')|">Xem trước</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="course-wrapper px-5 py-4" th:if="${flag==10}">
                    <label for="form2">Lọc theo ngày</label>
                    <form action="/admin/locHDtheoDate" method="get" id="form2">
                        <div class="date-picker">
                            <input type="date" name="inDate" required>
                            <button type="submit">Lọc</button>
                        </div>
                    </form>

                        <label for="form1">Lọc theo ngày bắt đầu - kết thúc</label>
                        <form action="/admin/locHDtheongay" method="get" id="form1">
                            <div class="date-picker">
                                <input type="date" name="startDate" required>
                                <input type="date" name="endDate" required>
                                <button type="submit">Lọc</button>
                            </div>
                        </form>
                        <table id="course-table">
                                <thead >
                                    <tr>
                                        <th>ID</th>
                                        <th>Ngày mua</th>
                                        <th>Tổng tiền</th>
                                        <th>Khách hàng</th>
                                        <th>Xem chi tiết</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="hd : ${dshd}">
                                        <td>
                                            <span th:text="${hd.HoaDonId}"></span>
                                            <input type="hidden" name="hdID" id="" class="hdID" th:value="${hd.HoaDonId}">
                                        </td>
                                        <td th:text="${hd.ngayMua}"></td>
                                        <td th:text="${hd.tongTien + ' VND'}"></td>
                                        <td th:text="${hd.user.fullName}"></td>
                                        <td><button>Chi tiết</button></td>
                                        <td>
                                            <button th:attr="onclick=|inHoaDon('${hd.HoaDonId}')|">In hóa đơn</button>
                                        </td>
                                    </tr>
                                </tbody>
                        </table>
                    <button onclick="xuatTatCa()">Xuất Danh Sách Này</button>
                    <button><a href="/users/export/excel">Xuất tất cả</a></button>
                </div>

                <div class="course-wrapper px-5 py-4" th:if="${flag==11}">
                    <h2 style="margin: 20px 0 10px 0;">Chi trả lương cho teacher</h2>
                    <select id="month-select">
                        <option value="all">Tất cả</option>
                        <option value="1">Tháng 1</option>
                        <option value="2">Tháng 2</option>
                        <option value="3">Tháng 3</option>
                        <option value="4">Tháng 4</option>
                        <option value="5">Tháng 5</option>
                        <option value="6">Tháng 6</option>
                        <option value="7">Tháng 7</option>
                        <option value="8">Tháng 8</option>
                        <option value="9">Tháng 9</option>
                        <option value="10">Tháng 10</option>
                        <option value="11">Tháng 11</option>
                        <option value="12">Tháng 12</option>
                    </select>

                    <table id="course-table">
                        <thead >
                            <tr>
                                <th>ID</th>
                                <th>Tên GV</th>
                                <th>Email</th>
                                <th>Tổng doanh thu</th>
                                <th>Tháng</th>
                                <th>% Share</th>
                                <th>Tiền lương nhận</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="chitra : ${listChiTra}">
                                <td th:text="${chitra.Id}"></td>
                                <td th:text="${chitra.teacher.fullName}"></td>
                                <td th:text="${chitra.teacher.email}"></td>
                                <td th:text="${chitra.tongDoanhThu}"></td>
                                <td th:text="${chitra.thang}"></td>
                                <td th:text="${chitra.tyLeShare}"></td>
                                <td th:text="${chitra.soTienChuyen}"></td>
                                <td>
                                    <h4 th:if="${chitra.state == 1}">Đã chi trả</h4>
                                    <button th:if="${chitra.state == 0}" th:attr="onclick=|chiTraChoGV('${chitra.Id}')|">Chi trả</button>
                                </td>
                                <td>
                                    <button>Chi tiết</button>
                                </td>
                            </tr>
                        </tbody>                        
                                              
                    </table>
                </div>
                <div class="course-wrapper px-5 py-4" th:if="${flag==144}">
                    <img th:src="${course.courseAvt}"></td><br>
                    Tên Course: <h5 th:text="${course.courseName}"></h5><br>
                    Giá Course(VNĐ): <h5 th:text="${course.gia}"></h5><br>
                    Mô tả course: <h5 th:text="${course.courseDes}"></h5><br>
                    Người tạo course: <h5 th:text="${owner.fullName}"></h5><br>
                    Ngày tạo: <h5 th:text="${course.createDate}"></h5><br>
                    Số lượng học viên: <h5 th:text="${enrollments.size()}"></h5>
                    <table id="course-table">
                        <thead >
                            <tr>
                                <th>Tên học viên</th>
                                <th>Ngày mua</th>
                                <th>Giá course</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="enroll : ${enrollments}">
                                <td th:text="${enroll.getUser().getFullName()}"></td>
                                <td th:text="${enroll.getDateJoined()}"></td>
                                <td th:text="${enroll.getCourse().getGia()}"></td>
                                <td><a th:href="@{/admin/chitiettop5(userId=${enroll.getUser().getUserId()})}">Chi tiết</a></td>
                            </tr>
                        </tbody>
                </table>
                    <button class="button-13" onclick="javascript:history.back()"> Quay về</button>
                </div>

                <div class="course-wrapper px-5 py-4" th:if="${flag==0}">
                    <div class="course-manager-section bg-white">
                        <div class="row">
                            <div class="col">
                                <h5>Quản lý khóa học</h5>
                                
                            </div>
                            <!-- <div class="col-auto me-auto">
                                <btn class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addCourseModal">Thêm khóa học</btn>
                            </div> -->
                        </div>

                        <!-- <div class="row mb-4">
                            <div class="form-group has-search col-4">
                                <span class="fa fa-search form-control-feedback"></span>
                                <input type="text" class="form-control" placeholder="Tìm kiếm khóa học" id="course-search">
                            </div>
                        </div> -->
                        <table>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>IMG</th>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Create day</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                                <tbody>
                                    <tr th:each="course : ${courses}">
                                        <div th:if="${course.state==1}">
                                            <td th:text="${course.courseID}"></td>
                                            <td><img th:src="${course.courseAvt}"></td>
                                            <td th:text="${course.courseName}"></td>
                                            <td th:text="${course.gia}"></td>
                                            <td th:text="${course.createDate}"></td>
                                            <td>
                                                <a th:href="@{/admin/chitietcourse(courseId=${course.courseID})}">Thông tin chi tiết</a>
                                                <a th:href="@{/admin/forcexoacource(courseId=${course.courseID})}"  onclick="return confirm('Bạn có chắc muốn xóa khóa học?')">/Xóa course</a>
                                                
                                            </td>
                                        </div>
                                    </tr>
                                </tbody>
                        </table>
                        

                         <!-- Modal thêm chi tiết hóa đơn-->
                         <div class="modal fade" id="addCourseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5">Thêm khóa học</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form id="add-course-form" enctype="multipart/form-data">
                                    <div class="modal-body">
                                            <div class="mb-3">
                                                <label for="" class="form-label">Tên khóa học</label>
                                                <input type="text" name="courseName" id="courseName" class="form-control" placeholder="" aria-describedby="helpId">
                                            </div>

                                            <div class="mb-3">
                                                <label for="" class="form-label">Avatar khóa học</label>
                                                <input type="file" name="courseAvt" id="courseAvt" class="form-control" placeholder="" aria-describedby="helpId" accept="image/png, image/gif, image/jpeg">
                                            </div>

                                            <div class="mb-3">
                                                <label for="" class="form-label">Mô tả</label>
                                                <input type="text" name="courseDes" id="courseDes" class="form-control" placeholder="" aria-describedby="helpId">
                                            </div>

                                            <div class="mb-3">
                                                <label for="" class="form-label">Chọn khoa</label>
                                                <select class="form-select" id="departmentId" name="departmentId">

                                                </select>
                                            </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Thêm</button>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>


                        <!-- Modal thêm khóa học-->
                        <div class="modal fade" id="addCourseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5">Thêm khóa học</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form id="add-course-form" enctype="multipart/form-data">
                                    <div class="modal-body">
                                            <div class="mb-3">
                                                <label for="" class="form-label">Tên khóa học</label>
                                                <input type="text" name="courseName" id="courseName" class="form-control" placeholder="" aria-describedby="helpId">
                                            </div>

                                            <div class="mb-3">
                                                <label for="" class="form-label">Avatar khóa học</label>
                                                <input type="file" name="courseAvt" id="courseAvt" class="form-control" placeholder="" aria-describedby="helpId" accept="image/png, image/gif, image/jpeg">
                                            </div>

                                            <div class="mb-3">
                                                <label for="" class="form-label">Mô tả</label>
                                                <input type="text" name="courseDes" id="courseDes" class="form-control" placeholder="" aria-describedby="helpId">
                                            </div>

                                            <div class="mb-3">
                                                <label for="" class="form-label">Chọn khoa</label>
                                                <select class="form-select" id="departmentId" name="departmentId">

                                                </select>
                                            </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Thêm</button>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- Modal sửa khóa học-->

                        <div class="modal fade" id="editCourseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5">Sửa khóa học</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="mb-3">
                                            <label for="" class="form-label">Tên khóa học</label>
                                            <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
                                        </div>

                                        <div class="mb-3">
                                            <label for="" class="form-label">Avatar khóa học</label>
                                            <input type="file" name="" id="" class="form-control" placeholder="" aria-describedby="helpId" accept="image/png, image/gif, image/jpeg">
                                        </div>

                                        <div class="mb-3">
                                            <label for="" class="form-label">Mô tả</label>
                                            <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
                                        </div>

                                        <div class="mb-3">
                                            <label for="" class="form-label">Chọn khoa</label>
                                            <select class="form-select" name="" id="">
                                                <option selected>Công nghệ thông tin</option>
                                                <option value="">Điện tử viễn thông</option>
                                                <option value="">Tiếng Anh</option>
                                                <option value="">Giáo dục tiểu học</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary">Thêm</button>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal sửa học viên -->
                        <div class="modal fade" id="editStudent" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5"><span>Lập trình ứng dụng</span></h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="d-flex justify-content-between mb-3">
                                            <div>
                                                <h5>Danh sách học viên</h5>
                                                <p>Có 38 học viên</p>
                                            </div>
                                            <div>
                                                <button type="button" class="btn btn-success btn-sm">Thêm học viên</button>
                                            </div>

                                        </div>
                                        <div class="card-container d-flex flex-column" style="height: 100%; gap: 10px;">
                                            <div class="card">
                                                <div class="card-body d-flex justify-content-between">
                                                    <div class="d-flex align-items-center">Học viên 1 (huykhaduy@gmail.com)</div>
                                                    <button class="btn btn-danger btn-sm"><i class="bi bi-trash"></i> Xóa</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal tài liệu học tập-->
                        <div class="modal fade" id="editDocument" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5"><span>Lập trình ứng dụng</span></h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="d-flex justify-content-between mb-3">
                                            <div>
                                                <h5>Tài liệu học tập</h5>
                                                <p>Có 0 tài liệu học tập</p>
                                            </div>
                                            <div>
                                                <button type="button" class="btn btn-success btn-sm">Thêm học viên</button>
                                            </div>

                                        </div>
                                        <div class="card-container d-flex flex-column" style="height: 100%; gap: 10px;">
                                            <div class="card">
                                                <div class="card-body d-flex justify-content-between">
                                                    <div class="d-flex align-items-center">Học viên 1 (huykhaduy@gmail.com)</div>
                                                    <button class="btn btn-danger btn-sm"><i class="bi bi-trash"></i> Xóa</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </body>
    <script th:src="@{/js/admin_course.js}"></script>
    <script>
        const monthSelect = document.getElementById('month-select');
            const courseTable = document.getElementById('course-table');
        
            monthSelect.addEventListener('change', function() {
        const selectedMonth = monthSelect.value;

        const rows = courseTable.getElementsByTagName('tr');
        for (let i = 1; i < rows.length; i++) {
            const row = rows[i];
            const monthCell = row.querySelector('td:nth-child(5)');
            const month = monthCell.textContent;

            if (selectedMonth === 'all' || month === selectedMonth) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        }
    });
    </script>
</html>