<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'F9 - ' + ${course.courseName}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel = "icon" th:href="@{/img/f9.png}" type = "image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/menu.css}">
    <link rel="stylesheet" th:href="@{/css/course_intro.css}">
    <link rel="stylesheet" th:href="@{/css/newCss.css}">
    <link rel="stylesheet" th:href="@{/css/footerCss.css}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.all.min.js"></script>
    <style>
        #xemtruocModal {
            display: flex;
            align-items: center;
            justify-content: center;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000; /* Đảm bảo modal nổi trên tất cả các phần tử */
            width: 650px;
            height: 530px;
            background-color: #fff; /* Màu nền modal */
            border-radius: 10px;
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.1); /* Đổ bóng cho modal */
            border: 2px solid rgb(140, 139, 139);
            background-color: rgb(0, 0, 0);
            display: none;
        }

        #xemtruocModal > div {
            padding: 20px;
            text-align: center;
        }

    </style>
    <script>        
        function addCart(courseId){
            // var courseId = document.getElementById("idCourse").value;
            $.ajax({
                url: `/cart/add/${courseId}`,
                type: 'GET',
                success: function(response) {
                    var src = document.querySelector(".img-fluid").getAttribute('src');
                    var name = document.querySelector(".nameCourse").textContent;
                    var html = document.querySelector(".form-cart1").innerHTML;
                    var userCreate = document.querySelector("#userCreate").textContent;
                    var gia = document.querySelector("#giaCourse").value;
                    var ele = document.querySelector(".cartItem");

                    var html1 = `<div class="cartItem">\n
                                            <a href="@{/detail1111/{${courseId}}">\n
                                                <img src="${src}" class="img-cartItem">\n
                                                <div>\n
                                                    <span class="text-cartItem" style="width: 145px; display: block;">${name}</span>\n
                                                    <span style="color: black;">${userCreate}</span>\n
                                                    <h6 style="color: black;">${gia} ₫</h6>\n
                                                </div>\n
                                            </a>\n
                                            <button id="btnDeleteCartItem" onclick="deleteCartItem('${courseId}')">Xóa</button>\n
                                        </div>\n`;
                    if(ele !== null){
                        var htmlInsert = html1 + html;
                    }
                    else
                        var htmlInsert = `<div class="cartItem">\n
                                            <a href="@{/detail1111/{${courseId}}">\n
                                                <img src="${src}" class="img-cartItem">\n
                                                <div>\n
                                                    <span class="text-cartItem" style="width: 145px; display: block;">${name}</span>\n
                                                    <span style="color: black;">${userCreate}</span>\n
                                                    <h6 style="color: black;">Tổng: ₫ ${gia}</h6>\n
                                                </div>\n
                                            </a>\n
                                            <button id="btnDeleteCartItem" onclick="deleteCartItem('${courseId}')">Xóa</button>\n
                                        </div>\n
                                 <h6 style="color: black; font-size: 20px;">${gia} ₫</h6>\n
                                    <a href="/checkout"><button id="btnThanhToan">Chuyển đến giỏ hàng</button></a>\n `; 
                    document.querySelector(".form-cart1").innerHTML = htmlInsert;
                    
                    if(ele != null){
                        var tongCart = Number(document.querySelector("#tongCart").textContent.split(" ")[2]) + Number(gia);
                        var element = document.querySelector("#tongCart");
                        element.textContent = `Tổng: ₫ ${tongCart}`;
                    }
                    Swal.fire({
                        icon: 'success',
                        title: 'Khóa học đã được thêm',
                        showConfirmButton: false,
                        timer: 1500
                    })
                    setTimeout(function() {
                        var btnAddCart = document.getElementById("btnAddCart");
                        btnAddCart.style.display = 'none';
                    }, 2000);
                },
                error: function(xhr, status, error) {
                    Swal.fire('Bạn cần đăng nhập!', '', 'warning');
                    setTimeout(function() {
                        window.location.href = 'http://localhost:8081/login';
                    }, 2000);
                }
            });
        }

        function showXemTruoc(linkVd, titleVd){
            var form = document.getElementById("xemtruocModal");
            form.style.display = "flex";
            var title = document.querySelector("#titleVd");
            title.textContent = titleVd;
            var video = document.querySelector("#srcVideoXemTruoc");
            video.src = linkVd;
        }

        function closeXemTruocModal(){
            var form = document.getElementById("xemtruocModal");
            form.style.display = "none";
        }
    </script>
</head>
<body>

<div th:replace="~{fragments/header}"></div>
<div class="content d-flex">
    <div th:replace="~{fragments/menu :: left-menu}"></div>
    <div class="w-100 d-flex mx-auto mt-4">
        <div class="container_center ms-5">
            <h4 class="mt-2 nameCourse" th:text="${course.courseName}"></h4>
            <h6 class="mt-3">Mô tả khóa học khóa học</h6>
            <span th:text="${course.courseDes}"></span>
            <input type="hidden" id="giaCourse" th:value="${course.gia}">
            <h5 class="mt-4">Nội dung khóa học</h5>
            <div class="sao" style="display: flex;">
                            <span th:text="${course.tbDanhGia()}" class="tbsao"></span><div class="saoShow"></div>
                            <span class="btn btn-success" data-bs-toggle="modal" data-bs-target="#danhgiaModal">  <span th:text="${course.danhgias.size()}"></span> Xếp hạng</span>
            </div>
            <div class="course_list_video" style="display: flex; gap: 10px; flex-direction: column;">
                <div class="card" th:each="lesson : ${lessons}">
                    <th:block th:if="${lesson.xemTruoc} == 1">
                        <span style="height: 45px; line-height: 45px;">
                            <i class="bi bi-play-fill"></i>
                            <span th:text="${lesson.lessonTitle}"></span>
                            <button style="border: none; background-color: white; color: blue;" id="btnShowXemTruoc" th:attr="onclick=|showXemTruoc('${lesson.getLessonVideo()}','${lesson.lessonTitle}')|">Xem trước</button>
                        </span>
                    </th:block>

                    <th:block th:if="${lesson.xemTruoc} != 1">
                        <span style="height: 45px; line-height: 45px;">
                            <i class="bi bi-play-fill"></i>
                            <span th:text="${lesson.lessonTitle}"></span>
                        </span>
                    </th:block>
                </div>
            </div>
            <h5 class="mt-4">Tài liệu tham khảo</h5>
        </div>
        <div class="container_right mt-4">
            <div class="container_right_video">
                <img class="img-fluid" th:src="${course.courseAvt}" alt="" style="aspect-ratio: 16/9; border-radius: 10px; width: 100%">
            </div>
            <div class="course_information">
                <div>
                    Giảng viên: <span th:text="${course.courseOwner.fullName}" id="userCreate"></span>
                </div>
                <div>
                    Khoa: <span th:text="${course.department.departmentName}"></span>
                </div>
                <div>
                    Tổng số: <span class="total" th:text="${#lists.size(lessons)}"></span> bài học
                </div>
                <div>
                    Tài liệu tham khảo: 0 tài liệu
                </div>
                <div class="formBtnShopping">
                    <th:block th:unless="${#authorization.expression('isAuthenticated()')}" th:fragment="non-login-header">
                        <button id="btnAddCart" th:attr="onclick=|addCart('${course.courseID}')|">THÊM VÀO GIỎ</button>
                    </th:block>
                    <th:block th:if="${#authorization.expression('isAuthenticated()')}" th:fragment="logined-header">
                        <button th:if="${isInCart}" id="btnAddCart" th:attr="onclick=|addCart('${course.courseID}')|">THÊM VÀO GIỎ</button>
                    </th:block>
                    <a th:href="@{/checkout/{idCourse}(idCourse=${course.courseID})}" id="btnDkyHoc">ĐĂNG KÝ NGAY</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="courseRelate">

</div>
<!--    Modal đánh giá khóa học-->
<div class="modal fade" id="danhgiaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="width: 800px; min-height: 460px;">
            <th:block th:if="${course.danhgias.size() > 0}">
                <div th:each="danhgia :${course.danhgias}" class="danhGiaTheoUser" style="margin: 10px 0 0 20px;">
                    <div class="iconAndUser">
                        <img th:src="${danhgia.user.avatar}" style="width: 20px; height: 20px; border-radius: 10px;">
                        <h5 th:text="${danhgia.tenUser}" style="margin: 0 40px 0 10px;"></h5>
                        <span th:text="${danhgia.createdAt}"></span>
                    </div>
                    <input type="hidden" class="soSaoDG" th:value="${danhgia.sao}">
                    <div class="showSaoTheoUser"></div>
                    <p th:text="${danhgia.contentDanhgia}"></p>
                    <div style="color: black; font-size: 12px;">
                        <span>Bạn có thấy hữu ích?</span>
                        <i class="bi bi-hand-thumbs-up"></i>
                        <i class="bi bi-hand-thumbs-down"></i>
                    </div>
                </div>
            </th:block>
            <th:block th:if="${!(course.danhgias.size() > 0)}">
                <h6 style="margin: auto;">Không có đánh giá</h6>
            </th:block>
        </div>
    </div>
</div>
<div class="" id="xemtruocModal">
        <div class="">
            <div style="display: flex;">
                <h6 style="margin: 0 0 10px 200px; color: white;">Xem trước khóa học</h4>
                <button onclick="closeXemTruocModal()" style="width: 50px; height: 30px; background-color: white; margin-left: 150px; color: blue; border: none;"><i class="bi bi-x-square-fill"></i></button>
            </div>
            <h4 style="margin: 0 0 70px 0; color: white;" id="titleVd">1. Khái niệm, kỹ thuật cần biết</h4>
            <iframe id="srcVideoXemTruoc" width="550" height="300" th:src="${lessons.get(0).getLessonVideo()}" frameborder="0" allowfullscreen></iframe>
            <h6 style="margin-top: 10px; color: white;">Video mẫu miễn phí</h6>
        </div>
</div>
<div th:replace="~{fragments/footer}"></div>
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
<script th:src="@{/js/header.js}"></script>
<script>
    $(document).ready(function(){
        var arrSao = document.querySelectorAll(".soSaoDG");
        var saoClass = document.querySelectorAll(".showSaoTheoUser");
        var size = arrSao.length;
        for(var i = 0; i < size; i++){
            var soSao = parseInt(arrSao[i].value);
            var saoHTML = '';
            if(soSao == 1)
                saoHTML = `<i class="bi bi-star-fill star"></i><i class="bi bi-star star2"></i><i class="bi bi-star star2"></i><i class="bi bi-star star2"></i><i class="bi bi-star star2"></i>`;
            else if(soSao == 2)
                saoHTML = `<i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i><i class="bi bi-star star2"></i><i class="bi bi-star star2"></i><i class="bi bi-star star2"></i>`;
            else if (soSao == 3)
                saoHTML = `<i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i><i class="bi bi-star star2"></i><i class="bi bi-star star2"></i>`;
            else if (soSao == 4)
                saoHTML = `<i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i><i class="bi bi-star star2"></i>`;
            else if (soSao == 5)
                saoHTML = `<i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i>`;
            else
                saoHTML = `<i class="bi bi-star star2"></i><i class="bi bi-star star2"></i><i class="bi bi-star star2"></i><i class="bi bi-star star2"></i><i class="bi bi-star star2"></i>`;

            saoClass[i].innerHTML = saoHTML; // Gán chuỗi HTML cho hình ngôi sao
        }
    });

    $(document).ready(function() {
        var arrSao = document.querySelectorAll(".tbsao");
        var saoClass = document.querySelectorAll(".saoShow");
        var size = arrSao.length;

        for (var i = 0; i < size; i++) {
            var soSao = parseFloat(arrSao[i].textContent);
            var saoHTML = ''; // Chuỗi HTML cho hình ngôi sao

            if (soSao <= 1.0) {
                if (soSao == 1.0)
                    saoHTML = `<i class="bi bi-star-fill star"></i><i class="bi bi-star star2"></i><i class="bi bi-star star2"></i><i class="bi bi-star star2"></i><i class="bi bi-star star2"></i>`;
                else if (soSao < 0.5)
                    saoHTML = `<i class="bi bi-star star2"></i><i class="bi bi-star star2"></i><i class="bi bi-star star2"></i><i class="bi bi-star star2"></i><i class="bi bi-star star2"></i>`;
                else
                    saoHTML = `<i class="bi bi-star-half star1"></i><i class="bi bi-star star2"></i><i class="bi bi-star star2"></i><i class="bi bi-star star2"></i><i class="bi bi-star star2"></i>`;
            } else if (soSao <= 2.0) {
                if (soSao == 2.0)
                    saoHTML = `<i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i><i class="bi bi-star star2"></i><i class="bi bi-star star2"></i><i class="bi bi-star star2"></i>`;
                else if (soSao < 1.5)
                    saoHTML = `<i class="bi bi-star-fill star"></i><i class="bi bi-star star2"></i><i class="bi bi-star star2"></i><i class="bi bi-star star2"></i><i class="bi bi-star star2"></i>`;
                else
                    saoHTML = `<i class="bi bi-star-fill star"></i><i class="bi bi-star-half star1"></i><i class="bi bi-star star2"></i><i class="bi bi-star star2"></i><i class="bi bi-star star2"></i>`;
            } else if (soSao <= 3.0) {
                if (soSao == 3.0)
                    saoHTML = `<i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i><i class="bi bi-star star2"></i><i class="bi bi-star star2"></i>`;
                else if (soSao < 2.5)
                    saoHTML = `<i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i><i class="bi bi-star star2"></i><i class="bi bi-star star2"></i><i class="bi bi-star star2"></i>`;
                else
                    saoHTML = `<i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i><i class="bi bi-star-half star1"></i><i class="bi bi-star star2"></i><i class="bi bi-star star2"></i>`;
            } else if (soSao <= 4.0) {
                if (soSao == 4.0)
                    saoHTML = `<i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i><i class="bi bi-star star2"></i>`;
                else if (soSao < 3.5)
                    saoHTML = `<i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i><i class="bi bi-star star2"></i><i class="bi bi-star star2"></i>`;
                else
                    saoHTML = `<i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i><i class="bi bi-star-half star1"></i><i class="bi bi-star star2"></i>`;
            } else if (soSao <= 5.0) {
                if (soSao == 5.0)
                    saoHTML = `<i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i>`;
                else if (soSao < 4.5)
                    saoHTML = `<i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i><i class="bi bi-star star2"></i>`;
                else
                    saoHTML = `<i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i><i class="bi bi-star-half star1"></i>`;
            }

            saoClass[i].innerHTML = saoHTML; // Gán chuỗi HTML cho hình ngôi sao
        }
        });
</script>
</body>
</html>