<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'F9 - Quá trình học tập'"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel = "icon" th:href="@{/img/f9.png}" type = "image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/menu.css}">
    <link rel="stylesheet" th:href="@{/css/course_intro.css}">
    <link rel="stylesheet" th:href="@{/css/newCss.css}">
    <link rel="stylesheet" th:href="@{/css/footerCss.css}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.all.min.js"></script>
    <script th:src="@{/js/newJs.js}"></script>
    <script>
        function addDanhGia(courseId) {
                    var soSao = $("#soSaoInput").val();
                    var motaDG = $("#motaDG").val();
                    // var url = window.location.href;
                    // var parts = url.split("/");
                    // var id = parts.pop();
                    // alert(id);
                    
                    $.ajax({
                        url: '/danhgia/add',
                        type: 'POST',
                        data: {
                            soSaoInput: soSao,  // Sửa tên biến này thành 'soSao' thay vì 'soSaoInput'
                            motaDG: motaDG,
                            courseId: courseId
                        },
                        success: function(response) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Đã thay đổi thành công',
                                showConfirmButton: false,
                                timer: 1500
                            }).then(()=>{
                                location.reload();
                            })
                        },
                        error: function(xhr, status, error) {
                            Swal.fire('Có lỗi khi sửa!', '', 'error');
                        }
                    });
        }

    </script>
    <style>
        .saoSet {
            color: gold;
        }
        .content_left {
            width: 70%;
            margin-left: 20px;
        }
        .content_right {
            width: 30%;
            margin-left: 20px;
        }
        .content-list {
            margin-left: 30px;
        }
        .video-course {
            width: 95%;
            height: 425px;
        }
    </style>
</head>
<body>

<div th:replace="~{fragments/header}"></div>
<div class="content d-flex">
    <!-- 70% -->
    <div class="content_left">
        <div class="content_video">
            <div class="video-course">
                <iframe id="srcVideo" width="95%" height="425" th:src="${lessons.get(0).getLessonVideo()}" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="content_mota">
            <h2>Giới thiệu về khóa học</h2>
            <h3>Mô tả</h3>
            <span>In diesem Kurs zeige ich dir, wie du die HTTP Sessions deines Projekts in Spring Boot in einem schnellen Key/Value Speicher wie Redis persistieren kannst.

                Anhand eines sehr einfachen Spring Boot Projektes, das nur ein Objekt in einer HTTP Session speichert, werden wir gemeinsam die Session Replikation aktivieren.
                
                Ich werde dir zeigen wie du
                
                die Session Deiner Anwendung mit Prometheus und Firefox betrachten kannst
                
                wie Du Redis in einem Docker Container installiert und
                
                Redis als Session Repository für HTTP Sessions verwenden kannst.
                
                Wir gehen auf die Serialisierung von Objekten aus der HTTP Session ein und ich zeige Dir alternative Serializer zum Standard (JSON Serializer). Am Ende des Kurses gibt es einen Ausblick auf weitere Problemstellungen zum Thema HTTP Session Replikation, die z.B. im Cloud-Umfeld / Kubernetes auftreten.
                
                Das Thema "HTTP Session Replication" ist im Kubernetes Umfeld wichtig, da Kubernetes Pods "flüchtig" sind. Das bedeutet, dass sie jederzeit heruntergefahren werden können, z.B. bei einem Rolling Update. Dieses Problem wird durch die Persistenz der HTTP Session bei Anwendungen gelöst, die einen State haben, also z.B. eine Benutzerinteraktion über ein UI erlauben.
                
                Redis eignet sich hervoragend als Speicher für HTTP Sessions, da die Speicherung extrem schnell ist und Redis auch zusätzliche Features wie TTL (Time to Live) für Sessions anbietet.
                
                Những kiến thức bạn sẽ học
                Sticky Session Problematik im Cloud / Kubernetes Umfeld verstehen
                HTTP Session in Firefox und Prometheus untersuchen
                Redis als Key/Value Speicher für Session Replikation verwenden und in Docker installieren
                Session Replikation mit Redis in Spring Boot einrichten
                Eigene Session Serializer einrichten und bestehende austauschen
                TTL (Time to Live) einer Sessin in Redis verstehen
                Weiterführende Probleme der Session Replikation verstehen
                Có bất kỳ yêu cầu hoặc điều kiện tiên quyết nào về khóa học không?
                Java, Maven Grundkenntnisse
                Grundlagen von Spring Boot Anwendungen
                Grundlagen von Docker
                Đối tượng của khóa học này:
                Spring Boot Entwickler im Unternehmensumfeld
                JEE Entwickler, die die Funktionsweise von Session Replikation in einem nicht JEE Umfeld verstehen möchten
                Java Entwickler mit Schwerpunkt auf Cloud Anwendungen, insb. Kubernetes</span>
                <!-- <span class="btn btn-success" data-bs-toggle="modal" data-bs-target="#danhgiaModal">  <span th:text="${course.danhgias.size()}"></span>Xếp hạng</span> -->
                <div style="width: 900px; height: 2px; background-color: rgb(105, 109, 105); margin-top: 20px;"></div>
                <div class="informationGV" style="display: flex; margin: 20px 0 20px 0;">
                    <span style="font-size: 25px; display: block; margin-right: 50px;">Giảng viên</span>
                    <div>
                        <h6 th:text="${giaovien.fullName}"></h6>
                        <h6 th:text="${giaovien.email}"></h6>
                    </div>
                </div>
        </div>
    </div>
    <!-- 30% -->
    <div class="content_right">
        <div class="content-list">
            <h1>Nội dung khóa học</h1>
            <div class="listItem" th:each="lesson : ${lessons}">
                <button th:attr="onclick=|changeVideo('${lesson.getLessonVideo()}')|" style="width: 300px; margin-top: 20px;">
                    <input type="checkbox" name="checkItem">
                    <div class="content-listItem">
                        <span th:text="${lesson.lessonTitle}"></span>
                        <div class="time-video">
                            <i class="bi bi-list-task" style="font-size: 20px"></i>
                            <span>4 phút</span>
                        </div>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>
<!--    Modal đánh giá khóa học-->
<!-- <div class="modal fade" id="danhgiaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div th:each="danhgia :${course.danhgias}">
                <div class="iconAndUser"><i class="bi bi-person-circle"></i><h4 th:text="${danhgia.tenUser}"></h4></div>
                <span><i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i>
                            <i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i></span>
                <p th:text="${danhgia.contentDanhgia}"></p>
            </div>
        </div>
    </div>
</div> -->
<div class="formDG" style="margin-left: 100px;" th:if="${myDG} == null">
    <h2>Đánh giá của bạn</h2>
    <form id="formDanhGia">
        <h4>Vì sao đánh giá của bạn lại ở mức này?</h4>
        <div>
            <i class="bi bi-star star2 saoFree sao1" style="font-size: 25px;"></i>
            <i class="bi bi-star star2 saoFree sao2" style="font-size: 25px;"></i>
            <i class="bi bi-star star2 saoFree sao3" style="font-size: 25px;"></i>
            <i class="bi bi-star star2 saoFree sao4" style="font-size: 25px;"></i>
            <i class="bi bi-star star2 saoFree sao5" style="font-size: 25px;"></i>
        </div>
        <input type="hidden" id="soSaoInput" value="0">
        <textarea id="motaDG" cols="30" rows="10" placeholder="Hãy cho chúng tôi biết trải nghiệm cá nhân của riêng bạn khi tham gia khóa học này. Khóa học có phù hợp với bạn không?"></textarea>
        <button type="button" th:attr="onclick=|addDanhGia('${myCourse.courseID}')|">Lưu</button> 
    </form>
</div>
<h2 style="margin: 20px;">
    <i class="bi bi-star-fill star" style="color: gold;"></i>
    <span th:text="${danhgias.size() + ' Xếp hạng'}"></span>
</h2>
<div class="danhGia" style="margin-left: 100px;">
    
    <div class="danhGia-item" th:each="danhgia : ${danhgias}" style="display: flex; flex-direction: column; width: 520px; margin-bottom: 20px;">
        <div class="DG-item-title" style="display: flex; width: 100%; justify-content: space-between;">
            <div style="display: flex;">
                <img th:src="${danhgia.user.avatar}" style="width: 25px; height: 25px">
                <div class="DG-item-title-between" style="margin-left: 20px;">
                    <h6 th:text="${danhgia.user.fullName}"></h6>
                    <div style="display: flex;">
                        <div class="sao" style="margin-right: 20px;">
                            <input type="hidden" class="soSaoDG" th:value="${danhgia.sao}">
                            <div class="showSaoTheoUser"></div>
                        </div>
                        <span th:text="${danhgia.createdAt}"></span>
                    </div>
                </div>
            </div>
            <i class="bi bi-caret-down-fill"></i>
        </div>
        <span class="DG-item-content" th:text="${danhgia.contentDanhgia}" style="display: block; margin-top: 10px;"></span>
        <div class="DG-item-nxet">

        </div>
    </div>
</div>
<div th:replace="~{fragments/footer}"></div>
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
<script th:src="@{/js/header.js}"></script>
<script>
    // Lấy danh sách tất cả các ngôi sao
    const stars = document.querySelectorAll(".saoFree");
    // Biến để theo dõi trạng thái khi đang thực hiện sự kiện "click"
    let isClicking = false;
    let number = 0;
    let soSaoInput = document.getElementById("soSaoInput");
    // Lặp qua từng ngôi sao và gán sự kiện hover
    stars.forEach((star) => {
    star.addEventListener("mouseenter", () => {
        if(!isClicking){
            if (star.classList.contains("sao1")) {            
            star.classList.remove("bi-star");
            star.classList.add("bi-star-fill");
            if(number == 2){
                var sao2 = document.querySelector(".sao2");
                sao2.classList.remove("bi-star-fill");
                sao2.classList.add("bi-star");
            } else if(number == 3){
                var sao2 = document.querySelector(".sao2");
                sao2.classList.remove("bi-star-fill");
                sao2.classList.add("bi-star");
                var sao3 = document.querySelector(".sao3");
                sao3.classList.remove("bi-star-fill");
                sao3.classList.add("bi-star");
            } else if(number == 4){
                var sao2 = document.querySelector(".sao2");
                sao2.classList.remove("bi-star-fill");
                sao2.classList.add("bi-star");
                var sao3 = document.querySelector(".sao3");
                sao3.classList.remove("bi-star-fill");
                sao3.classList.add("bi-star");
                var sao4 = document.querySelector(".sao4");
                sao4.classList.remove("bi-star-fill");
                sao4.classList.add("bi-star");
            } else if(number == 5){
                var sao2 = document.querySelector(".sao2");
                sao2.classList.remove("bi-star-fill");
                sao2.classList.add("bi-star");
                var sao3 = document.querySelector(".sao3");
                sao3.classList.remove("bi-star-fill");
                sao3.classList.add("bi-star");
                var sao4 = document.querySelector(".sao4");
                sao4.classList.remove("bi-star-fill");
                sao4.classList.add("bi-star");
                var sao5 = document.querySelector(".sao5");
                sao5.classList.remove("bi-star-fill");
                sao5.classList.add("bi-star");
            }
        } else if (star.classList.contains("sao2")){
            var sao1 = document.querySelector(".sao1");
            sao1.classList.remove("bi-star");
            sao1.classList.add("bi-star-fill");
            star.classList.remove("bi-star");
            star.classList.add("bi-star-fill");

            if(number == 3){
                var sao3 = document.querySelector(".sao3");
                sao3.classList.remove("bi-star-fill");
                sao3.classList.add("bi-star");
            } else if(number == 4){
                var sao3 = document.querySelector(".sao3");
                sao3.classList.remove("bi-star-fill");
                sao3.classList.add("bi-star");
                var sao4 = document.querySelector(".sao4");
                sao4.classList.remove("bi-star-fill");
                sao4.classList.add("bi-star");
            } else if(number == 5){
                var sao3 = document.querySelector(".sao3");
                sao3.classList.remove("bi-star-fill");
                sao3.classList.add("bi-star");
                var sao4 = document.querySelector(".sao4");
                sao4.classList.remove("bi-star-fill");
                sao4.classList.add("bi-star");
                var sao5 = document.querySelector(".sao5");
                sao5.classList.remove("bi-star-fill");
                sao5.classList.add("bi-star");
            }
        } else if (star.classList.contains("sao3")){
            var sao1 = document.querySelector(".sao1");
            var sao2 = document.querySelector(".sao2");
            sao1.classList.remove("bi-star");
            sao1.classList.add("bi-star-fill");
            sao2.classList.remove("bi-star");
            sao2.classList.add("bi-star-fill");
            star.classList.remove("bi-star");
            star.classList.add("bi-star-fill");
            if(number == 4){
                var sao4 = document.querySelector(".sao4");
                sao4.classList.remove("bi-star-fill");
                sao4.classList.add("bi-star");
            } else if(number == 5){
                var sao4 = document.querySelector(".sao4");
                sao4.classList.remove("bi-star-fill");
                sao4.classList.add("bi-star");
                var sao5 = document.querySelector(".sao5");
                sao5.classList.remove("bi-star-fill");
                sao5.classList.add("bi-star");
            }
        } else if (star.classList.contains("sao4")){
            var sao1 = document.querySelector(".sao1");
            var sao2 = document.querySelector(".sao2");
            var sao3 = document.querySelector(".sao3");
            sao1.classList.remove("bi-star");
            sao1.classList.add("bi-star-fill");
            sao2.classList.remove("bi-star");
            sao2.classList.add("bi-star-fill");
            sao3.classList.remove("bi-star");
            sao3.classList.add("bi-star-fill");
            star.classList.remove("bi-star");
            star.classList.add("bi-star-fill");
            if(number == 5)
            {
                var sao5 = document.querySelector(".sao5");
                sao5.classList.remove("bi-star-fill");
                sao5.classList.add("bi-star");
            }
        } else if (star.classList.contains("sao5")){
            var sao1 = document.querySelector(".sao1");
            var sao2 = document.querySelector(".sao2");
            var sao3 = document.querySelector(".sao3");
            var sao4 = document.querySelector(".sao4");
            sao1.classList.remove("bi-star");
            sao1.classList.add("bi-star-fill");
            sao2.classList.remove("bi-star");
            sao2.classList.add("bi-star-fill");
            sao3.classList.remove("bi-star");
            sao3.classList.add("bi-star-fill");
            sao4.classList.remove("bi-star");
            sao4.classList.add("bi-star-fill");
            star.classList.remove("bi-star");
            star.classList.add("bi-star-fill");
        }
        number = 0;
        }
    });

    star.addEventListener("mouseleave", () => {
        if(!isClicking){
            if (star.classList.contains("sao1")) {            
            star.classList.remove("bi-star-fill");
            star.classList.add("bi-star");
        } else if (star.classList.contains("sao2")){
            var sao1 = document.querySelector(".sao1");
            sao1.classList.remove("bi-star-fill");
            sao1.classList.add("bi-star");
            star.classList.remove("bi-star-fill");
            star.classList.add("bi-star");
        }   else if (star.classList.contains("sao3")){
            var sao1 = document.querySelector(".sao1");
            var sao2 = document.querySelector(".sao2");
            sao1.classList.remove("bi-star-fill");
            sao1.classList.add("bi-star");
            sao2.classList.remove("bi-star-fill");
            sao2.classList.add("bi-star");
            star.classList.remove("bi-star-fill");
            star.classList.add("bi-star");
        } else if (star.classList.contains("sao4")){
            var sao1 = document.querySelector(".sao1");
            var sao2 = document.querySelector(".sao2");
            var sao3 = document.querySelector(".sao3");
            sao1.classList.remove("bi-star-fill");
            sao1.classList.add("bi-star");
            sao2.classList.remove("bi-star-fill");
            sao2.classList.add("bi-star");
            sao3.classList.remove("bi-star-fill");
            sao3.classList.add("bi-star");
            star.classList.remove("bi-star-fill");
            star.classList.add("bi-star");
        } else if (star.classList.contains("sao5")){
            var sao1 = document.querySelector(".sao1");
            var sao2 = document.querySelector(".sao2");
            var sao3 = document.querySelector(".sao3");
            var sao4 = document.querySelector(".sao4");
            sao1.classList.remove("bi-star-fill");
            sao1.classList.add("bi-star");
            sao2.classList.remove("bi-star-fill");
            sao2.classList.add("bi-star");
            sao3.classList.remove("bi-star-fill");
            sao3.classList.add("bi-star");
            sao4.classList.remove("bi-star-fill");
            sao4.classList.add("bi-star");
            star.classList.remove("bi-star-fill");
            star.classList.add("bi-star");
        }
        }
        number = 0;
    });
    star.addEventListener("click", () => {
        // Đánh dấu là đang thực hiện sự kiện "click"
        isClicking = true;
        // Thực hiện các hành động "click" tùy ý
        // ...
        if (star.classList.contains("sao1"))
        {
            number = 1;
            soSaoInput.value = 1;
        }   
        else if (star.classList.contains("sao2"))
        {
            number = 2;
            soSaoInput.value = 2;
        } 
        else if (star.classList.contains("sao3"))
        {
            number = 3;
            soSaoInput.value = 3;
        } 
        else if (star.classList.contains("sao4"))
        {
            number = 4;
            soSaoInput.value = 4;
        } 
        else if (star.classList.contains("sao5"))
        {
            number = 5;
            soSaoInput.value = 5;
        } 
        // Đặt thời gian để sau khi click xong, sự kiện "click" đã kết thúc
        setTimeout(() => {
            isClicking = false;
        }, 500); // Giả sử sự kiện "click" sẽ kết thúc sau 10 milliseconds
    });

    });

   

    function changeVideo(srcLesson){
        var video = document.querySelector("#srcVideo");
        video.src = srcLesson;
    }

    $(document).ready(function(){
        var arrSao = document.querySelectorAll(".soSaoDG");
        var saoClass = document.querySelectorAll(".showSaoTheoUser");
        var size = arrSao.length;
        for(var i = 0; i < size; i++){
            var soSao = parseInt(arrSao[i].value);
            var saoHTML = '';
            if(soSao == 1)
                saoHTML = `<i class="bi bi-star-fill star"></i><i class="bi bi-star star2"></i><i class="bi bi-star star2"></i><i class="bi bi-star star2"></i><i class="bi bi-star star2"></i>`;
            else if(soSao == 2)
                saoHTML = `<i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i><i class="bi bi-star star2"></i><i class="bi bi-star star2"></i><i class="bi bi-star star2"></i>`;
            else if (soSao == 3)
                saoHTML = `<i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i><i class="bi bi-star star2"></i><i class="bi bi-star star2"></i>`;
            else if (soSao == 4)
                saoHTML = `<i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i><i class="bi bi-star star2"></i>`;
            else if (soSao == 5)
                saoHTML = `<i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i>`;
            else
                saoHTML = `<i class="bi bi-star star2"></i><i class="bi bi-star star2"></i><i class="bi bi-star star2"></i><i class="bi bi-star star2"></i><i class="bi bi-star star2"></i>`;

            saoClass[i].innerHTML = saoHTML; // Gán chuỗi HTML cho hình ngôi sao
        }
    });
</script>
</body>
</html>