<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Điều khoản - F9</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/menu.css}">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <link rel="stylesheet" th:href="@{/css/newCss.css}">
</head>
<body>
<div th:replace="~{fragments/header}"></div>
<div>
    <section style="background-color: #f05123e3;">
        <h1 style="text-align: center;">ĐIỀU KHOẢN CỦA F9 MÀ BẠN PHẢI TUÂN THEO</h1>
    </section>
    <h2>Điều khoản sử dụng</h2>
    <span>
        Điều khoản sử dụng này ("Điều khoản") được cập nhật lần cuối vào ngày Ngày 26 tháng 4 năm 2023.

        Vui lòng cẩn thận xem lại các Điều khoản này vì chúng đóng vai trò là hợp đồng có hiệu lực thi hành giữa hai bên và chứa thông tin quan trọng về các quyền, biện pháp khắc phục và nghĩa vụ pháp lý của bạn.

        NẾU BẠN SỐNG Ở HOA KỲ HOẶC CANADA THÌ KHI ĐỒNG Ý VỚI CÁC ĐIỀU KHOẢN NÀY, BẠN ĐỒNG Ý GIẢI QUYẾT MỌI TRANH CHẤP VỚI UDEMY TẠI TÒA ÁN CHUYÊN XỬ LÝ CÁC VỤ KIỆN NHỎ HOẶC CHỈ THÔNG QUA TRỌNG TÀI CÁ NHÂN CÓ TÍNH RÀNG BUỘC VÀ BẠN TỪ BỎ QUYỀN THAM GIA VÀO BẤT KỲ VỤ KIỆN TẬP THỂ NÀO VÀ TỪ BỎ QUYỀN YÊU CẦU BỒI THẨM ĐOÀN QUYẾT ĐỊNH, NHƯ ĐƯỢC GIẢI THÍCH TRONG MỤC GIẢI QUYẾT TRANH CHẤP.

        Nhiệm vụ của Udemy là cải thiện cuộc sống thông qua học tập. Chúng tôi tạo điều kiện để mọi người ở bất kỳ nơi đâu đều có thể tạo và chia sẻ nội dung giáo dục (giảng viên) và truy cập nội dung giáo dục đó để học tập (học viên). Chúng tôi coi mô hình thị trường này là cách tốt nhất để cung cấp nội dung giáo dục có giá trị cho người dùng. Chúng tôi cần các quy tắc để đảm bảo nền tảng và dịch vụ của chúng tôi an toàn cho bạn, chúng tôi cũng như cộng đồng học viên và giảng viên của chúng tôi. Các Điều khoản này áp dụng cho mọi hoạt động của bạn trên trang web Udemy, ứng dụng di động Udemy, ứng dụng TV, API của chúng tôi và các dịch vụ liên quan khác (“Dịch vụ”).

        Nếu bạn đăng một khóa học trên nền tảng Udemy, bạn cũng phải đồng ý với Điều khoản dành cho Giảng viên. Chúng tôi cũng cung cấp chi tiết về việc chúng tôi xử lý dữ liệu cá nhân của học viên và giảng viên trong Chính sách về quyền riêng tư của chúng tôi. Nếu bạn đang sử dụng Udemy trong chương trình học tập và phát triển Udemy Business của người sử dụng lao động thì bạn có thể tham khảo Tuyên bố về quyền riêng tư Udemy Business của chúng tôi. Điều khoản dành cho Giảng viên, Chính sách về quyền riêng tư của chúng tôi và các chính sách khác của Udemy áp dụng cho việc bạn sử dụng Dịch vụ của chúng tôi được kết hợp bằng cách tham chiếu đến các Điều khoản này.

        Trang web và ứng dụng của chúng tôi khiến thông tin liên lạc về các hoạt động duyệt web và ứng dụng cũng như việc sử dụng ứng dụng của bạn được gửi từ bạn đến các bên thứ ba cung cấp dịch vụ cho Udemy. Bằng cách sử dụng Dịch vụ của chúng tôi, bạn đồng ý với những thông tin liên lạc này.
    </span></br>
    <h2>1. Tài khoản</h2>
    <span>
        Bạn cần có tài khoản cho hầu hết các hoạt động trên nền tảng của chúng tôi. Hãy đảm bảo giữ mật khẩu ở nơi an toàn, vì bạn chịu trách nhiệm về mọi hoạt động liên quan đến tài khoản của bạn. Nếu bạn nghi ngờ ai đó đang sử dụng tài khoản của bạn, hãy thông báo cho chúng tôi biết bằng cách liên hệ với Nhóm Hỗ trợ của chúng tôi. Bạn phải đủ tuổi hợp pháp để chấp thuận các dịch vụ trực tuyến ở quốc gia của bạn thì mới có thể sử dụng Udemy.

        Bạn cần có tài khoản cho hầu hết các hoạt động trên nền tảng của chúng tôi, bao gồm mua và truy cập nội dung hoặc gửi nội dung để đăng. Khi thiết lập và duy trì tài khoản, bạn phải cung cấp và tiếp tục cung cấp thông tin chính xác và đầy đủ, bao gồm địa chỉ email hợp lệ. Bạn hoàn toàn chịu trách nhiệm về tài khoản của bạn và mọi hoạt động xảy ra trên tài khoản của bạn, bao gồm mọi tổn hại hoặc thiệt hại (cho chúng tôi hoặc bất kỳ ai khác) do một người khác sử dụng tài khoản của bạn khi không được bạn cho phép. Điều này có nghĩa là bạn cần giữ mật khẩu một cách thận trọng. Bạn không được chuyển tài khoản của bạn cho người khác hoặc sử dụng tài khoản của người khác. Nếu bạn liên hệ với chúng tôi để yêu cầu quyền truy cập vào một tài khoản, chúng tôi sẽ không cấp quyền truy cập cho bạn trừ khi bạn có thể cung cấp thông tin mà chúng tôi cần để chứng minh bạn là chủ sở hữu của tài khoản đó. Trong trường hợp người dùng qua đời, tài khoản của người dùng đó sẽ bị đóng.

        Bạn không được chia sẻ thông tin đăng nhập tài khoản của bạn với bất kỳ ai khác. Bạn chịu trách nhiệm về mọi hoạt động trên tài khoản của bạn và Udemy sẽ không can thiệp vào các tranh chấp giữa học viên hoặc giảng viên dùng chung thông tin đăng nhập tài khoản. Bạn phải thông báo cho chúng tôi ngay lập tức khi biết rằng ai đó có thể đang sử dụng tài khoản của bạn mà không có sự cho phép của bạn (hoặc nếu bạn nghi ngờ có bất kỳ hành vi vi phạm bảo mật nào khác) bằng cách liên hệ với Nhóm Hỗ trợ của chúng tôi. Chúng tôi có thể yêu cầu một số thông tin từ bạn để xác nhận bạn thực sự là chủ sở hữu tài khoản.

        Học viên và giảng viên phải đủ 18 tuổi để tạo tài khoản trên Udemy và sử dụng Dịch vụ. Nếu bạn dưới 18 tuổi nhưng trên độ tuổi bắt buộc để đồng ý sử dụng các dịch vụ trực tuyến tại nơi bạn sinh sống (ví dụ: 13 tuổi ở Hoa Kỳ hoặc 16 tuổi ở Ireland) thì bạn không thể thiết lập tài khoản nhưng chúng tôi khuyến khích bạn nhờ cha mẹ hoặc người giám hộ mở tài khoản và giúp bạn truy cập nội dung phù hợp. Nếu bạn chưa đủ tuổi đồng ý sử dụng các dịch vụ trực tuyến này, bạn không được tạo tài khoản Udemy. Nếu chúng tôi phát hiện ra rằng bạn đã tạo một tài khoản vi phạm các quy tắc này, chúng tôi sẽ chấm dứt tài khoản của bạn. Theo Điều khoản dành cho Giảng viên của chúng tôi, bạn có thể được yêu cầu xác minh danh tính trước khi được cho phép gửi nội dung để đăng trên Udemy.

        Bạn có thể chấm dứt tài khoản bất kỳ lúc nào bằng cách làm theo các bước ở đây. Tham khảo Chính sách về quyền riêng tư để xem điều gì sẽ xảy ra khi bạn chấm dứt tài khoản của bạn.
    </span></br>

</div>
</body>
</html>